<div class="row">
  <div class="columns col12">
    <ul class="no-bullet">
      <li class="title animate">What is Our Project Named?</li>
      <ul class="menu no-bullet">
        {{#if username}}
          <li class="animate"><a class="login" href="#">{{ username }}</a></li>
        {{else}}
          <li class="animate"><a class="login" href="/api/auth">login</a></li>
        {{/if}}
      </ul>
    </ul>
  </div>
</div>

